/* Подключение шрифтов */
@import url(./fonts/stylesheet.css);
/* Обнуление стилей */
@import url(./reset.css);

/* Переменные */
:root {
    --padding-cont: 10%;
    --padding-block: 3% var(--padding-cont);
}

/* Заготовки для стилей */
/* ФЛЕКСЫ */
.flex {
    display: flex;
}
.aic {
    align-items: center;
}
.aifs {
    align-items: flex-start;
}
.jcc {
    justify-content: center;
}
.jcfe {
    justify-content: flex-end;
}
.jcsb {
    justify-content: space-between;
}
.jic {
    justify-items: center;
}
.col {
    flex-direction: column;
}
.dotted {
    text-decoration: underline;
}
/* ГРИДЫ */
.grid {
    display: grid;
}
.gtc-3 {
    grid-template-columns: repeat(3, 1fr);
    @media (max-width: 960px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
    }
}
.gtc-2 {
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.container {
    padding: 0 var(--padding-cont);
}
.block, .form-block {
    padding: var(--padding-block);
}
.block img,
.block .content,
.form-block img,
.form-block .content {
    width: 40%;
}

.tac {
    text-align: center;
}

/* Маленькие плашки которые определяют категории или статус питомцев */
.tag {
    padding: .6rem 1.7rem;
    background-color: #893476;
    color: #f4f4f4;
    border-radius: 999rem;
    font-weight: bold;
    text-transform: uppercase;
}

/* Стилизация точек для слайдена в блоке main.hero */
.dot {
    --size: 1rem;
    height: var(--size);
    width: var(--size);
    background-color: #ddd;
    border-radius: 100%;
    &.active {
        background-color: #777;
    }
}

/* Стили для кнопок */
.button {
    padding: .7rem 2rem;
    background-color: rgb(66, 152, 116);
    border: 1px solid #429874;
    color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
}
.button.small {
    padding: 0.3rem;
}
.button.red {
    background-color: #d55252dd;
    border-color: #b90808;
}
.button:hover {
    background-color: inherit;
    color: #429874;
}

/* Поля для ввода */
.c-input {
    border-radius: 1rem;
    padding: .6rem 1rem;
    border: 2px solid #0003;
    background-color: #fff3;
}

/* Отступы */
.g-1 {
    gap: 1.25rem;
}
.g-2 {
    gap: 2rem;
}
.g-3 {
    gap: 3rem;
}

.info-user {
    padding: 2rem;
    border: 1px solid #0003;
}
.card {
    background-color: #f4f4f4;
    width: 100%;
    padding: 2rem;
    border: 1px solid #0003;
    border-radius: 1rem;
    box-shadow: 0 0 5px #0000;
    transition: all .3s;
}
.card h2 {
    font-size: 2rem;
}
.card:hover {
    box-shadow: 0 0 5px #0005;
}
.card p.grey {
    color: #999;
}

/* Бэкграунд для архива */
.arch {
    background-color: #eee;
}

/* Главные стили */
/* Шапка сайта */
.header {
    height: 80px;
}

/* Форма быстрого поиска */
.form-block {
    background-color: #a6f9d6;
}


.animals .card .img {
    width: 100%;
}
.reviews .card > img {
    width: 50%;
}
/* Стили для слайдера */
.slider {
    justify-content: flex-start;
    overflow-x: hidden;
}
.slider .card {
    min-width: 30%;
    width: 30%;   
}

/* Подвал сайта */
.footer {
    background-color: #444;
}
.footer * {
    color: #f4f4f4;
}
.footer img {
    width: 100% !important;
}

/* Дефолтные стили для бургер кнопки */
.burger {
    display: none;
    height: 30%;
}

/* Блок центрующий форму (login.html, regisater.html) */
.auth-form-full-size {
    min-height: calc(100vh - 80px);
    display: flex;
    
}
.auth-form-full-size form {
    max-width: 50%;
    @media (max-width: 960px) {
        width: 100%;
    }
}
/* Интерфейс, на котором будут отображаться ошибки в файле register.html */
.ui {
    position: absolute;
    top: calc(2% + 80px);
    right: 2%;
    max-width: 30%;
}
/* Стилизация сообщения сообщения */
.mes {
    padding: 1rem;
    border: 3px solid;
    border-radius: 1rem;
    color: #f4f4f4;
}
/* (ОШИБКИ) */
.mes.err {
    background-color: #d55252dd;
    border-color: #b90808;
}

.pet-content .content {
    min-width: 70% !important;
}

/* Адаптив под разные устройства */
@media(max-width: 960px) {
    :root {
        --padding-cont: 5%;
    }
    .block img,
    .block .content,
    .form-block img,
    .form-block .content {
        width: 100%;
    }
    .ui {
        max-width: 100%;
    }
    .tag {
        font-size: .6rem !important;
    }
    .pet-content {
        flex-direction: column;
        gap: 2rem;
    }
    .slider .card {
        min-width: 60%;
        width: 60%;
    }
    .responsive {
        flex-direction: column !important;
        gap: 2rem;
    }
    .footer {
        flex-direction: column !important;
        gap: 3rem;
    }
    .footer img {
        width: 10% !important;
    }
    .navigation {
        display: none;
    }
    .burger {
        display: flex;
    }
}

@media(max-width: 768px) {
    :root {
        --padding-cont: 3%;
    }
    .header-sort {
        flex-direction: column;
        gap: 1rem;
    }
}